<h1>Article #<%= @article.id %></h1>

<p><strong>Title : <%= @article.title %></strong></p>

<p><strong>Body : <%= @article.body %></strong></p>

<div> 
    <%= link_to "<< Back to Aricles List", articles_path %> 
</div>